<font face="time new roman">
    <div class="card container col-sm-12 mt-5">
        <div class="row card-header">
            <div class="form-group col-sm-9">
                <p>Matricule:</p>
                <p>Prenom:</p>
                <p>Nom:</p>
                <p>Grade:</p>
                <p>En service au Commissariat Special de l'AIBD</p>

            </div>
            <div class="form-group col-sm-3">
                <p>Diass, le 
                    </p>
                
            </div>
        </div>
        
        <div class="card-body">
            <div style="width:1000px; margin:0px auto">
                <form [formGroup]="imprimeDemandeForm">
                    <div class="row card">
                        <div class="col-sm-12 mt-3">
                            <B><U>Objet:</U></B> demande d'une permission d'absence
                        </div>
                        <div class="row col-sm-12 mt-3 ms-1">
                            <!-- <B><U>Objet:</U></B> demande d'une permission d'absence -->
                            <div class="form-group col-sm-12">
                                <textarea name="libelle" rows="10" formControlName="libelle" 
                                class="form-control">
                                </textarea>
                            </div>

                            <div class="col-sm-11 text-end">
                                <p><B><U><I>L'interessé</I></U></B></p>
                            </div>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            
                        </div>
                    </div>
                    
                </form>
                <hr/>

                <div class="footer col-sm-12 mt-2 ms-1 text-end">
                        <button type="submit"
                            class="btn btn-outline-success col-sm-3 text-right">
                            <i class="fas fa-check"></i>
                            Générer en PDF
                        </button>
                        <!-- <button class="btn btn-sm btn-outline-secondary" routerLink="/demandes/imprime/{{demande.idDemande}}">
                            <i class="bi bi-printer ms-1"> Générer en PDF
                            </i>
                        </button> -->
                </div>

            </div>

        </div>
    </div>

    <div class="form-group col-sm-2 text-end">
        <a routerLink="/demandes" class="text-primary ms-2"> <i class="bi bi-file-arrow-up"></i>
            Retour</a>
    </div>
</font>

