<font face="time new roman">
    <!-- <div class="container mt-5">  -->
      <div class="container col-sm-12 mt-5"> 
        <nav class="navbar navbar-expand-md navbar-dark bg-dark card-header fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.php"><i class="fas fa-home mr-2"></i>USERS MANAGEMENT APP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ajout Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Liste Service</a>
            </li>
            <li class="nav-item dropdown">
                  <a class="nav-link text-light font-weight-bold px-3 dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
            <!-- ROLES -->
            <li class="nav-item dropdown">
                  <a class="nav-link text-light font-weight-bold px-3 dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class='fab fa-critical-role'></i> ROLES
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="role-add.php">Ajouter</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="role-list.php">Lister</a></li>
              </ul>
            </li>
    
            <!-- SERVICES -->
            <li class="nav-item dropdown">
                  <a class="nav-link text-light font-weight-bold px-3 dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class='fab fa-servicestack'></i> SERVICES
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="service-add.php">Ajouter</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="service-list.php">Lister</a></li>
              </ul>
            </li>
            <!-- USERS -->
            <li class="nav-item dropdown">
                  <a class="nav-link text-light font-weight-bold px-3 dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
               <i class="fas fa-users mr-2"></i> USERS
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="user-add.php">Ajouter</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="user-list.php">Lister</a></li>
              </ul>
            </li>
          </ul>
          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>
    </div>
    <!-- </div> -->
    </font>

