<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class>
                        <h3 class="card-title float-left">
                            <span class="badge badge-secondary"
                                style="font-size: 1.0em;">
                                Détails Demande </span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover
                            table-condensed mt-3 text-center" id="dataTable">
            <thead class>
                <tr class="text-center">
                    <th class="text-center">
                        <small>Mention <b style="background-color: gold;">
                            </b></small><br />
                        <small class="text-muted"
                            style="background-color: orange;"> N° </small>
                        
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr class="whitespace-nowrap">
                        <td class>
                            <p>{{dataOneDemande.libelle}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-sm-12">
                <div class="col-sm-6 text-left">
                    <a href class="text-lg text-warning"> Retour</a>
                </div>
                <div class="col-sm-2 float-right">
                    <form action method="post" class="d-inline">
                        <button type="submit"
                            class="btn btn-outline-warning text-danger" href="#"
                            onclick="return confirm('ÊTES-VOUS SUR DE VOULOIR SUPPRIMER CETTE MENTION ?')">
                            <i class="fas fa-trash-alt m-r-5"></i> Supprimer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

