
<!--  -->
<div>
    <h2>Ajouter des heures à une date</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="dateDebut">Date (yyyy-MM-dd HH:mm:ss):</label><br>
      <input type="date" id="dateDebut" name="dateDebut" [(ngModel)]="dateDebut" required><br>
      <label for="dureePermission">Heures à ajouter:</label><br>
      <input type="number" id="dureePermission" name="dureePermission" [(ngModel)]="dureePermission" required><br>
      <button type="submit">Ajouter</button>
    </form>
  
    <div *ngIf="dateFin">
      <h2>Résultat</h2>
      <p>Nouvelle date: {{ dateFin }}</p>
    </div>
  
    <div *ngIf="error">
      <p>{{ error }}</p>
    </div>
  </div>
<!--  -->



