<font face="time new roman">
    <div class="card container col-sm-12 mt-5">
        <!-- <div class="card-header">
            <h3 class='text-center'>
                <i class="fas fa-sign-in-alt mr-2">
                </i>Nouveau Service
            </h3>
        </div> -->
        
        <div class="card-body">
            <div style="width:1000px; margin:0px auto">
                    <div class="row card">
                        <!-- <form [formGroup]="contactForm" (ngSubmit)="submit()"></form> -->
                        <!--  -->
                        <div class="row col-sm-12 mt-3 ms-1 ml-1">
                            <!-- <div class="form-group col-sm-4">
                                <label for="nom_service">Type Permission <span
                                        class="text-danger">*</span></label>
                                            <select class="form-control" name="typePermission" formControlName="typePermission">
                                                <option value="">Sectionner type Permission</option>
                                                <option value="T1">inferieure ou egale a 72 H</option>
                                                <option value="T2">Superieure a 72 H</option>
                                                    
                                            </select>
                                     
                            </div> -->
                            <div class="form-group col-sm-4">
                                <!-- <label for="nom_service">Matricule <span
                                        class="text-danger"> *</span></label> -->
                                <input type="text" name="matricule" required formControlName="matricule" value=""
                                    class="form-control" placeholder="Matricule">
                            </div>

                            <div class="form-group col-sm-4">
                                <!-- <label for="nom_service">Prenom <span
                                        class="text-danger"> *</span></label> -->
                                <input type="text" name="prenom" required formControlName="prenom" value=""
                                    class="form-control" placeholder="Prenom">
                            </div>

                            <div class="form-group col-sm-4">
                                <!-- <label for="nom_service">Nom <span
                                        class="text-danger"> *</span></label> -->
                                <input type="text" name="nom" required formControlName="nom" value=""
                                    class="form-control" placeholder="Nom">
                            </div>

                        </div>
                        <!--  -->
                        <div class="row col-sm-12 mt-2 ms-1 ml-1">

                            <div class="form-group col-sm-6">
                                <!-- <label for="nom_service">Grade <span
                                        class="text-danger"> *</span></label> -->
                                <input type="text" name="grade" required formControlName="grade" value=""
                                    class="form-control" placeholder="Grade">
                            </div>

                            <div class="form-group col-sm-6">
                                <!-- <label for="nom_service">Service <span
                                        class="text-danger">*</span></label> -->
                                            <!-- <select class="form-control" name="typePermission" formControlName="typePermission">
                                                <option [selected]="true">choisir service</option>
                                                <option value="SP CSA">SP CSA</option>
                                                <option value="BS">BS</option>
                                                <option value="B1">1ere Brigade</option>
                                                <option value="B2">2e Brigade</option>
                                                <option value="B3">3e Brigade</option>
                                                <option value="CMP-AIBD">CMP/AIBD</option>      
                                            </select> -->

                                            <!-- <select formControlName="country" class="form-control" >
                                                <option [ngValue]="null" [selected]="true">--Service--</option>
                                                <option *ngFor="let service of services" [ngValue]="service.id">{{service.name}}</option>
                                            </select> -->

                                            <select formControlName="country" class="form-control text-center" >
                                                <option [ngValue]="null" [selected]="true">choisir service</option>
                                                <option [ngValue]="">SP CSA</option>
                                                <option [ngValue]="">BS</option>
                                                <option [ngValue]="">1ere Brigade</option>
                                                <option [ngValue]="">2e Brigade</option>
                                                <option [ngValue]="">3e Brigade</option>
                                                <option [ngValue]="">CMP/AIBD</option> 
                                            </select>
                                     
                            </div>  

                        </div>
                        <!--  -->
                        <div class="row col-sm-12 mt-4 ms-1 ml-1">

                            <div class="form-group col-sm-3">
                                <!-- <label for="nom_service">Date Debut <span
                                        class="text-danger"></span></label> -->
                                <input type="text" name="dateDebut" required formControlName="dateDebut" 
                                    class="form-control" placeholder="Date debut: (jj/mm/aaaa)">
                            </div>
                            <!--  -->
                            <div class="form-group col-sm-3">
                                <!-- <label for="nom_service">Date fin <span
                                        class="text-danger"></span></label> -->
                                <input type="text" name="dateFin" formControlName="dateFin" 
                                    class="form-control" placeholder="Date fin: (jj/mm/aaaa)">
                            </div>

                            <div class="form-group col-sm-3">
                                <!-- <label for="nom_service">Motif <span
                                        class="text-danger"></span></label> -->
                                <input type="text" name="dureePermission" required formControlName="" 
                                    class="form-control" placeholder="Motif">
                            </div>

                            <div class="form-group col-sm-3">
                                <!-- <label for="nom_service">Destination <span
                                        class="text-danger"></span></label> -->
                                <input type="text" name="destination" required formControlName="destination" 
                                    class="form-control" placeholder="Destination">
                            </div>

                        </div>
                        <div class="row col-sm-12 mt-3 ms-1">
                            <div class="form-group col-sm-12">
                                <!-- <label for="nom_service">Libelle <span
                                        class="text-danger"></span>
                                    </label> -->
                                <textarea name="libelle" rows="10"  formControlName="libelle" 
                                class="form-control" value="OBJET: Demande d'une permission d'absence"
                                placeholder="" ngValue="Demande">
                                </textarea>
                            </div>
                        </div>

                        <div class="footer col-sm-12 mt-2 ms-1 text-end">
                            <button type="submit" (click)="printPage()"
                                class="btn btn-outline-success col-sm-3 text-right">
                                <i class="fas fa-check"></i>
                                Imprimer
                            </button>
                        </div>


                        <!-- <div class="row footer col-sm-12 mt-5 ms-1">
                            <div class="form-group col-sm-12 text-right">
                                <button type="submit" 
                                    class="btn btn-outline-success col-sm-12">
                                    <i class="fas fa-check"></i>
                                    Enregistrer
                                </button>
                            </div>
                        </div> -->
                    </div>
                        &nbsp;
                        &nbsp;
                    </div>

            </div>

        </div>

        
    
</font>



